openapi: 3.1.0
info:
  title: Monarch Shield API
  version: 0.1.0
  description: Sandbox and pre-payment trust checks for x402 and agent payments.
servers:
  - url: https://api.x402ms.ai
paths:
  /doctor-run:
    post:
      summary: Record an opt-in Monarch Doctor run
      description: Accepts anonymous Doctor run metadata for DAU proof. Never send source code, wallet addresses, endpoint URLs, payment amounts, API keys, file names, or file paths.
      operationId: recordDoctorRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DoctorRunRequest"
      responses:
        "202":
          description: Doctor run accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DoctorRunResponse"
  /check-payment:
    post:
      summary: Check an x402 endpoint before payment
      description: Returns allow, caution, block, or route before an agent pays. Use after sandbox/preflight checks pass.
      operationId: checkPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckPaymentRequest"
      responses:
        "200":
          description: Payment trust decision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckPaymentResponse"
components:
  schemas:
    DoctorRunRequest:
      type: object
      required:
        - event
        - tool
        - version
        - status
        - projectHash
        - timestamp
      properties:
        event:
          type: string
          enum: [doctor_run]
        tool:
          type: string
          enum: [monarch-doctor]
        version:
          type: string
        status:
          type: string
          enum: [passed, failed, no_payment_flow_detected, failed_no_payment_flow]
        ci:
          type: boolean
        strict:
          type: boolean
        applicable:
          type: boolean
        hasPaymentFlow:
          type: boolean
        hasUnprotectedPaymentFiles:
          type: boolean
        findingCount:
          type: integer
          minimum: 0
        sandboxPassed:
          type: boolean
        projectHash:
          type: string
          pattern: "^[a-f0-9]{24}$"
        timestamp:
          type: string
          format: date-time
    DoctorRunResponse:
      type: object
      required:
        - accepted
      properties:
        accepted:
          type: boolean
        stored:
          type: boolean
    CheckPaymentRequest:
      type: object
      required:
        - resourceUrl
        - payTo
        - amount
        - asset
        - network
        - intent
      properties:
        resourceUrl:
          type: string
          format: uri
        payTo:
          type: string
        amount:
          type: string
        asset:
          type: string
          examples: ["USDC"]
        network:
          type: string
          examples: ["base"]
        intent:
          type: string
        agentId:
          type: string
        userId:
          type: string
        metadata:
          type: object
          additionalProperties: true
    CheckPaymentResponse:
      type: object
      required:
        - decision
        - risk
        - status
        - reason
        - suggestedAction
        - userMessage
        - checks
      properties:
        decision:
          $ref: "#/components/schemas/Decision"
        risk:
          $ref: "#/components/schemas/RiskLevel"
        status:
          type: string
        reason:
          type: string
        suggestedAction:
          type: string
        userMessage:
          type: string
        verifiedAlternative:
          type: string
          format: uri
        checks:
          $ref: "#/components/schemas/TrustChecks"
    Decision:
      type: string
      enum: [allow, caution, block, route]
    RiskLevel:
      type: string
      enum: [low, medium, high, unknown]
    TrustChecks:
      type: object
      properties:
        domainOwnership:
          type: string
        payToWallet:
          type: string
        payToWalletChanged:
          type: boolean
        deliveryReliability:
          type: string
        provenance:
          type: string
        priceSanity:
          type: string
